# Python
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec
.ipynb_checkpoints

# Backup & Images
*~
*png
*jpg

# Superfluous directories
/data
/defunct
/models
/scratch
/virtual_env/data

# Web App
/rsia/venv
