
# Python
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec
.ipynb_checkpoints

# Emacs
*~

.idea

#superflous directories
/config
/data
/data.bak
/defunct
/doc
/install
/models
/scratch
sensors.png
/virtual_env/data

# Web App
/rsia/venv
