# Python
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec
.ipynb_checkpoints

# Backup & Images
*~
*png
*jpg

# Superfluous directories
/models
/recordings
/virtual_env/data
/build
/derp.egg-info
/dist

# Web App
/rsia/venv
