<!doctype html>
<header>
  <title>Recording Editor</title>
  <link rel="stylesheet" type="text/css" href="static/editor.css" />
</header>
<body>
  <p>Frame: <span id="frame_num"></span></p>
  <p>State: <span id="state"></span></p>
  <p>Speed: <span id="speed"></span></p>
  <p>Steer: <span id="steer"></span></p>
  <video width="960" height="540" id="front" controls>
    <source src="static/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>
  <br/>
  <input type="button" id="save" value="save">
  <input type="button" id="next" value="next">
  <script type="text/javascript" src="static/editor.js"></script>
</body>
</html>
